.score-panel {
    text-align: center;
    font-size: 20px;
    font-family: "Kaiti SC";
    font-weight: bold;
}

.ranking-panel {
    position: absolute;
    width: 375px;
    left: 50%;
    margin-left: -187px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Kaiti SC";
    font-weight: bold;
}

.score-result {
    position: fixed;
    font-size: 14px;
}
.score {
    font-size: 50px;
}

.ranking-text {
    margin-top: 220px;
    font-size: 16px;
    font-family: "Kaiti SC", serif;
    font-weight: bold;
    text-align: center;
}

.marketing {
    margin-top: 30px;
}

ul.marketing-option {
    padding: 0;
}

.join-us, .play-again {
    display: block;
    font-family: "Kaiti SC";
    font-size: 18px;
    line-height: 1;
}

.join-us a, .play-again a {
    text-align: center;
    display: block;
    margin: 20px 100px; /* TODO: Responsiveness */
    padding: 17px 30px;
    color: #ffffff;
    background-color: #5B5959 !important;
    border-radius: 40px;
}
