html
  margin: 0
  padding: 0

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}


body
  margin: 0 auto !important
  max-width: 800px
  background: #000
  background-image: url('./images/bg-clouds.png');
  background-position: 0px 0px;
  background-size: cover

  animation: animatedBackground 60s linear infinite;
  -ms-animation: animatedBackground 60s linear infinite;
  -moz-animation: animatedBackground 60s linear infinite;
  -webkit-animation: animatedBackground 60s linear infinite;

.question-panel 
  padding: 1em
  font-size: 11px


.question 
  margin: 15px 0
  font-weight: bold
  text-align: left


.option 
  margin: 1em 0
  padding: 10px
  //background: #3d9970
  //border-radius: 5px
  text-align: left
  display: block
  //border-bottom: 1px solid #ddd


input[type="radio"] 
  display: none


label 
  margin: 0 !important


border-style = 1px solid #adb8c0

.option
  //border: border-style


.option i:before
  display: inline-block
  position: absolute
  //top: 50%
  height: 20px
  width: 20px

.option-text
  margin-left: 25px
  display: block

.option input:checked + i:before
  font-size: 18px
  content: '\2714'
  color: #05f1b2


.option input:not(:checked) + i:before
  border: 1px solid #999;
  border-radius: 50%
  content: ' '


// header
.app-header
  width: 100%


// navigation
.question-navigation
  margin: 0 1em

.previous-question-button
  float: left

.next-question-button
  float: right
