main-text-color = #021215 100%
border-style = 1px solid #adb8c0

image-vertical-position = 100%
place-holder-height = 50px

html
   margin: 0
   padding: 0

@keyframes animatedBackground {
   from {
      background-position: 0 image-vertical-position;
   }
   to {
      background-position: 100% image-vertical-position;
   }
}

@-webkit-keyframes animatedBackground {
   from {
      background-position: 0 image-vertical-position;
   }
   to {
      background-position: 100% image-vertical-position;
   }
}

@-ms-keyframes animatedBackground {
   from {
      background-position: 0 image-vertical-position;
   }
   to {
      background-position: 100% image-vertical-position;
   }
}

@-moz-keyframes animatedBackground {
   from {
      background-position: 0 image-vertical-position;
   }
   to {
      background-position: 100% image-vertical-position;
   }
}

body
   margin: 30px 20px 0!important
   max-width: 800px
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
   background: url('./images/background/hill-1.svg'), url('./images/background/hill-2.svg'), url('./images/background/hill-3.svg')
   background-color: #dddddd !important
   background-repeat: no-repeat

   animation: animatedBackground 60s linear infinite;
   -ms-animation: animatedBackground 60s linear infinite;
   -moz-animation: animatedBackground 60s linear infinite;
   -webkit-animation: animatedBackground 10s linear infinite;

.app-header
   display: inline-block
   width: 100%

img[alt="header-cloud"]
   display: block
   width: 25%
   height: 25%
   float: right


.question-panel
   line-height: 1.5
   color: main-text-color

.question-content
   margin: 10px 0 20px 0
   font-family: "Kaiti SC"
   font-weight: bold
   text-align: left

.option-container
   margin: 0 0 16px
   font-size: 16px

   .option
      margin: 0
      text-align: left
      display: block

      input[type="radio"]
         display: none

      b:before
         display: inline-block
         position: absolute

      .option-text
         margin-left: 32px
         font-family: "Kaiti SC"
         display: block
         font-size: 16px

.option input:checked + b:before
   content: url('images/yes.svg')

.option input:not(:checked) + b:before
   content: url('images/no.svg')

.background-placeholder
   width: 100%
   height: place-holder-height


.pager
   margin-left: 34px !important
   margin-right: 34px !important
   font-family: "Kaiti SC"
   font-size: 18px
   line-height: 1

   .next a, .previous a
      padding: 13px 30px
      color: #ffffff
      background-color: #5B5959 !important
      border-radius: 40px
